<h2>Seja Bem vindo a Gym Point</h2> <br />

</h2><strong>Olá, {{student}} </strong>

<p>Sua matrícula está efetivada, confira os detalhes abaixo:</p>
<p>

  <strong>Plano:</strong> {{plan}} <br/>
  <strong>Valor:</strong> {{price}} <br />
    <strong>Data Final:</strong> {{end_date}} <br />
  <br />
  <small>
    agradecemos a preferência
  </small>

</p>
